ProxyAddr   = ":7856"      # 代理地址
Name        = "Test127.0.0.1"        # 服务器标识

[[Hook]]
Homepage    = "https://tech.feiyuapi.com/deng/documents"  # 项目路径
Branch      = "master"   # 分支事件监听
ShellPath   = "./command.sh"  # 脚本文件路径