NetAddr = ":42000"            # hook 地址
Command = ["push","merge_request"] # 命令 merge_request push

[Access]
AccessIP = []
AccessToken   = "feiyu2020"  # token

[[Robot]]          # 机器人
Name = "teacher"
Url = "https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=b9430cba-acd0-412e-92ac-367aeb450022"

[[Robot]]          # 机器人
Name = "documents"
Url = "https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=b9430cba-acd0-412e-92ac-367aeb450022"

