NetAddr     = ":42000"      # hook 地址
AccessIP    = []            # IP白名单
AccessToken = "feiyu2020"   # token

[[Robot]]
RobotType   = "workweixin"
Homepage    = "https://tech.feiyuapi.com/feiyu/teacher"
RobotUrl    = "https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=b9430cba-acd0-412e-92ac-367aeb450022"
NotifyCmd   = ["push","merge_request"]  # 通知到机器人的事件

[[Event]]
Homepage    = "https://tech.feiyuapi.com/feiyu/teacher"
Commands    = ["push"]